body {
  background: #eee;
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  height: 1px;
  width: 50vw;
}

input[type=text] {
  clear: both;
  display: block;
}

.center {
  text-align: center;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}
